#nav-bar{
	background-color: $base-primary-colour;
	color:#e8fdff;
	min-width: $min-content-width;
	position: fixed;
	padding: 0 2em;
	height:$min-nav-height;
	left: 0;
	right: 0;
	top: 0;
	z-index: 999;
	
	.logo-header{
		.logo{
			float: left;
			height: $min-nav-height;
			width: $min-nav-height;
		}
		.header{
			float: left;
			font-size: 2em;
			line-height: 2.5;
			margin-left: 10px;
		}
	}
	
	.nav-buttons{
		float: right;
		button{
			position: relative;
			top:25px;
		}
	}
	.nav-login{
		background-color:$base-primary-colour;
		position: fixed;
		margin: auto;
		top:0;
		right:0;
		bottom:0;
		left:0;
		width: 500px;
		height:270px;
		overflow: hidden;
		border-radius: 6px;

		button.close{
			position: relative;
			cursor: pointer;
			color: white;
			background-color: $base-primary-colour;
			font-size: $base-font-size * 1.5;
			z-index: 100;
			margin: 12px;
			border: none;
			width: 24px;
			height: 24px;
		}

		form{
			background-color:$base-primary-colour;
			width: 100%;
			height:100%;
			position: absolute;
			text-align: center;
			&#login{
				z-index: 99;
			}
			input{
				margin: 16px auto;
				display: block;
				padding: 4px;
			}
			label{
				margin: 8px auto;
				display: block;
				text-align: center;
			}
			button{
				cursor: pointer;
				margin: 8px auto;
				display: block;
			}
		}

	}
}

		
// large screen
@media (min-width: 2300px){
	#nav-bar{
		height: $min-nav-height * 2; 

		.logo-header{
			.logo{
				float: left;
				height: $min-nav-height * 2;
				width: $min-nav-height * 2;
			}
		}
	}
}

@media (min-width: 5607px){
	#nav-bar{
		height: $min-nav-height * 3; 
		.logo-header{
			.logo{
				float: left;
				height: $min-nav-height * 3;
				width: $min-nav-height * 3;
			}
			.header{
				line-height: 1.75;
				margin-left: 20px;
			}
		}
	}
}


// Small screens
@media (max-width: 500px){
	#nav-bar{
		.logo-header{
			.logo{
				float: left;
				height: 80px;
				width: 80px;
			}
			.header{
				display: none;
			}
		}
	}
}