#nav-bar{
	background-color: $base-primary-colour;
	color:#e8fdff;
	display: flex;
	justify-content: space-between;
	min-width: $min-content-width;
	position: fixed;
	padding: 0 2em;
	height:$min-nav-height;
	left: 0;
	right: 0;
	top: 0;
	z-index: 999;
	
	.logo-header{
		.logo{
			float: left;
			height: $min-nav-height;
			width: $min-nav-height;
		}
		.header{
			float: left;
			font-size: 2em;
			line-height: 2.5;
			margin-left: 10px;
		}
	}
	
	.nav-buttons button{
		position: relative;
		top:25px;
	}
}

		
// large screen
@media (min-width: 2300px){
	#nav-bar{
		height: $min-nav-height * 2; 

		.logo-header{
			.logo{
				float: left;
				height: $min-nav-height * 2;
				width: $min-nav-height * 2;
			}
		}
	}
}

@media (min-width: 5607px){
	#nav-bar{
		height: $min-nav-height * 3; 
		.logo-header{
			.logo{
				float: left;
				height: $min-nav-height * 3;
				width: $min-nav-height * 3;
			}
			.header{
				line-height: 1.75;
				margin-left: 20px;
			}
		}
	}
}


// Small screens
@media (max-width: 500px){
	#nav-bar{
		.logo-header{
			.logo{
				float: left;
				height: 80px;
				width: 80px;
			}
			.header{
				display: none;
			}
		}
	}
}