// Color variables
$base-font-colour:  #687C83;
$base-primary-colour: #00a087;
$base-grey: #ccc;
$base-grey-dark: #666;

// Font variables
$base-font-size: 16px;

// Content sizes variables
$min-content-width: 360px;
$min-nav-height: 80px;