#nav-bar{
	position: fixed;
	height:80px;
	width:100%;
	background-color: #00a087;
	color:#e8fdff;
	padding: 0 2em;
	z-index: 999;
}
#nav-bar .logo{
	height: 80px;
	width: 80px;
	float: left;
}
#nav-bar .header{
	font-size: 2em;
	line-height: 2.5;
	float: left;
	margin-left: 10px;
}